@model IEnumerable<mysql_scaffold_dbcontext_test.Models.Highscores>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Userid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modeid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Characterid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Levelid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Character)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Os)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Version)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LongestShot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalDistance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxShotMade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxShotAtt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConsecutiveShots)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrafficEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HardcoreEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnemiesKilled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Platform)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Device)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ipaddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scoreid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TwoMade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TwoAtt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThreeMade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThreeAtt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FourMade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FourAtt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SevenMade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SevenAtt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Userid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modeid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Characterid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Levelid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Character)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Os)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LongestShot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalDistance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxShotMade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxShotAtt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsecutiveShots)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrafficEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HardcoreEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnemiesKilled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Platform)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Device)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ipaddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Scoreid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TwoMade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TwoAtt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThreeMade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThreeAtt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FourMade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FourAtt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SevenMade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SevenAtt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
