@model mysql_scaffold_dbcontext_test.Models.serialkiller.CrimeViewModel

@{
    ViewData["Title"] = "Add Killer";
    Layout = "~/Views/Shared/_Layout_serialKiller.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <module>
        <form action="~/serialkiller/killer" method="post" cellpadding="5" cellspacing="5">
            <br>
            <h4>Add Killer </h4>
            <table>
                <tr>
                    <td>first name: </td>
                    <td>
                        @Html.TextBoxFor(m => Model.Killer.FirstName)
                    </td>
                </tr>

                <tr>
                    <td>middle name: </td>
                    <td>
                        @Html.TextBoxFor(m => Model.Killer.MiddleName)
                    </td>
                </tr>
                <tr>
                    <td>last name: </td>
                    <td>
                        @Html.TextBoxFor(m => Model.Killer.LastName)
                    </td>
                </tr>
            </table>
            <label>birth date: </label>
            <br />
            <label>month </label>
            <select name="month" id="month">
                @for (int i = 1; i <= 12; i++)
                {
                    <option value=@i>@i</option>
                }
            </select>
            <br />
            <label>day </label>
            <select name="day" id="day">
                @for (int i = 1; i <= 31; i++)
                {
                    <option value=@i>@i</option>
                }
            </select>
            <br />
            <label>year </label>
            <select name="year" id="year">
                @for (int i = 1900; i <= 2000; i++)
                {
                    <option value=@i>@i</option>
                }
            </select>
            <br />
            <label for="note">note:</label>
            <br />
            <textarea id="note" name="note" rows="10" cols="40"></textarea>
            <br />
            <br />
            <input type="submit" value="Submit" />
        </form>
    </module>
    <module>
        <h4>Killers in database</h4>
        <table cellpadding="5" cellspacing="5">
            <tr>
                <th>
                    Name
                </th>
            </tr>
            @{
                Model.Killers = Model.Killers.OrderByDescending(x => x.Id);
            }
            @foreach (var c in Model.Killers)
            {
                <tr>
                    <td>@c.FirstName @c.MiddleName @c.LastName</td>
                </tr>
            }
        </table>
    </module>
</body>
</html>

